USE [master]
GO
/****** Object:  Database [Coding_Challenge]    Script Date: 8/6/2019 1:18:40 PM ******/
CREATE DATABASE [Coding_Challenge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coding_Challenge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Coding_Challenge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coding_Challenge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Coding_Challenge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coding_Challenge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coding_Challenge]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 8/6/2019 1:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Credits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProjects]    Script Date: 8/6/2019 1:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/6/2019 1:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([id], [StartDate], [EndDate], [Credits]) VALUES (1, CAST(N'2019-08-01T00:00:00.000' AS DateTime), CAST(N'2019-08-02T00:00:00.000' AS DateTime), 12)
INSERT [dbo].[Projects] ([id], [StartDate], [EndDate], [Credits]) VALUES (2, CAST(N'2019-08-03T00:00:00.000' AS DateTime), CAST(N'2019-08-04T00:00:00.000' AS DateTime), 13)
INSERT [dbo].[Projects] ([id], [StartDate], [EndDate], [Credits]) VALUES (3, CAST(N'2019-08-05T00:00:00.000' AS DateTime), CAST(N'2019-08-06T00:00:00.000' AS DateTime), 14)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[UserProjects] ON 

INSERT [dbo].[UserProjects] ([id], [UserId], [ProjectId], [IsActive], [AssignedDate]) VALUES (1, 13, 5, 1, CAST(N'2019-08-02T00:00:00.000' AS DateTime))
INSERT [dbo].[UserProjects] ([id], [UserId], [ProjectId], [IsActive], [AssignedDate]) VALUES (2, 13, 6, 1, CAST(N'2019-08-06T00:00:00.000' AS DateTime))
INSERT [dbo].[UserProjects] ([id], [UserId], [ProjectId], [IsActive], [AssignedDate]) VALUES (3, 13, 7, 0, CAST(N'2019-08-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserProjects] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [FirstName], [LastName]) VALUES (1, N'Wesly', N'Quesada')
INSERT [dbo].[Users] ([id], [FirstName], [LastName]) VALUES (2, N'Pedro', N'Casas')
INSERT [dbo].[Users] ([id], [FirstName], [LastName]) VALUES (3, N'Jose', N'Ureña')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[UserProjects]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[UserProjects]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
USE [master]
GO
