@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wesly Quesada</h1>
    <h2>Coding Challenge</h2>
    <p class="lead">Junior Software Developer.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Creation</h2>
        <p>
            As all website, you have the possibility to create a lot of users  with the purpose to assign them to future projects
        </p>
        <p><a class="btn btn-default" href="../User_/Add_User">Add User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Creation</h2>
        <p>
            As you already know, you can generate project in order to be assigned to the users
        </p>
        <p><a class="btn btn-default" href="../Project_/Add_Project">Add Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Assignment
        </h2>
        <p>You can easily find users and assigning them to project already created.</p>
        <p><a class="btn btn-default" href="../Assignment_/Add_Assignment">Add Assignment &raquo;</a></p>
    </div>
</div>